#aboutdetails{
    width: 60%;
    /* text-align: center; */
    display: grid;
    margin: 0 auto;
    margin-bottom: 10%;
    justify-content: center;
    background-color: #000000;
    font-family: 'Cormorant Garamond', serif;
    font-size: 1rem;
    font-weight: 500;
}

#abouttext{
    text-align: center;
}

#skillsnimg{
    display: grid;
    grid-template-columns: 60% 40%;
    width: 70%;
    margin: 0 auto;
    margin-top: 6rem;
}

#img{
    margin: 0 auto;
}

#skills{
    margin-bottom: 0;
    font-family: sanvito-pro-display, sans-serif;
    font-weight: 700;
    font-style: normal;
}

#skillshr{
    width: 30%;
    margin: 0;
}

.skillswrapper{
    margin-top: -100px;
}


@media only screen and (max-width: 900px) {
    #skillsnimg{
        width: 100%;
    }
}


@media only screen and (max-width: 600px) {
    #skillsnimg{
        grid-template-columns: 1fr;
        gap: 2rem;
        width: 90%;
        margin-top: 20%;
    }

    .skillswrapper{
        margin-top: unset;
    }

    #hobbylist{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;

    }

    .skillswrapper{
        margin: 0 auto;
    }

    #aboutdetails{
        width: 80%;
    }

}