#footer{
    border-radius: 2rem 2rem 0px 0px;
    height: 10%;
    width: 100%;
    display: flex;
    padding: 1rem 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(46, 43, 43);
    background-color: #eab676;
}

#footeremail{
    font-family: 'Cormorant Garamond', serif;
    font-weight: 600;
    font-size: 1rem;
}

#iconwrapper{
    display: flex;
    gap: 0.3rem;
    align-items: center;
    margin: 1rem 0 0;
    padding: 0;
}

.icons{
    width: 1.8rem;
    cursor: pointer;
}