#introcontainer{
    width: 100%;
    height: 100vh;
    border-radius: 0px;
    padding: 0 18%;
    background-color: black;
    position: relative;
}

#innerwrapper{
    position: absolute;
    left: 18%;
    z-index: 1;
    bottom: 50px;
}

#h2text{
    font-family: 'Lora', serif;
}

#intropara{
    color: #928d7d;
}

#vid{
    width: 400px;
    position: absolute;
    top: 16%;
    right: 16%;
    filter: opacity(0.4);
}

@media only screen and (max-width: 600px) {
    #innerwrapper{
        left: 6%;
    }

    #vid{
        width: 300px;
        right: 1%;
    }
}