.title{
    text-align: center;
    font-family: 'Redressed', cursive;
    margin-top: 10rem;
}

.subtitle{
    text-align: center;
    margin-bottom: 6rem;
}

.subtitletext{
    font-size: 0.95rem;
}
