.projectcard{
    width: 100%;
    border: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 1s;
}

.cardimg{
    transition: 1s;
    border-radius: 10px;
    filter: brightness(0.5);
}

.imgwrapper{
    width: 100%;
    display: flex;
    justify-content: center;
}

.cardimg:hover, .cardimg:active{
    transform: scale(1.04);
    filter: brightness(1);
}

.projectdetails{
    position: relative;
}

.title{
    font-size: 1rem;
    letter-spacing: 0.04rem;
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
    font-family: 'Lora', serif;
}

.para{
    font-size: 0.9rem;
    font-weight: 500;
    color: white;
    padding: 0px 0px 0.4rem;
    font-family: 'Cormorant Garamond', serif;
    text-align: center;
}

