.projectcard{
    width: 400px;
    border: 0px;
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.cardimg{
    object-fit: cover;
    filter: brightness(0.5);
}

.imgwrapper{
    width: 100%;
}

.cardimg:hover, .cardimg:active{
    transform: scale(1.01);
    filter: brightness(1);
}

.projectdetails{
    position: relative;
    padding: 10px;
}

.title{
    font-size: .9rem;
    letter-spacing: 0.04rem;
    margin-bottom: 0.5rem;
    font-family: 'Lora', serif;
}

.para{
    font-size: 0.7rem;
    font-weight: 500;
    color: white;
    font-family: 'Cormorant Garamond', serif;
}


@media screen and (max-width: 700px) {
    .para{
        font-size: .9rem;
    }

    .projectcard{
        width: 74%;
    }
}

@media screen and (max-width: 600px) {
    .projectcard{
        width: 90%;
    }
}

