.projectcard{
    width: 80%;
    border: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 1s;
    background-color: rgb(31, 30, 30);
    border-radius: 10px;
    margin: 0 auto;
}

.cardimg{
    width: 100%;
    object-fit: fill;
    transition: 1s;
    border-radius: 10px 10px 0px 0px;
    filter: brightness(0.5);
}

.imgwrapper{
    width: 100%;
    display: flex;
    justify-content: center;
}

.cardimg:hover, .cardimg:active{
    transform: scale(1.01);
    filter: brightness(1);
}

.projectdetails{
    position: relative;
    
}

.title{
    font-size: 1rem;
    letter-spacing: 0.04rem;
    margin-top: 0;
    margin-bottom: 0.2rem;
    font-family: 'Lora', serif;
    padding-left: 4%;
    padding-right: 4%;
}

.para{
    font-size: 0.9rem;
    font-weight: 500;
    color: white;
    padding: 0px 4% 0.4rem;
    font-family: 'Cormorant Garamond', serif;
}

